@using Blazor_MicroStore.Data
<div class="item-display">
    <img src="images/@item.Src" class="image-fluid" />
    <div class="item-display-body">
        <h5 class="item-display-name">@item.Name</h5>
        <p class="item-display-source">@item.Description</p>
        <p>@item.Price</p>
    </div>
</div>


@code {
    [Parameter]
    public Item item { get; set; }
}
